<h1>Dashboard</h1>

<div class="profile-holder">
    {{#with loggedInUser}}
    {{#if profilePicPath}}
    <img class="profile-pic"src="{{profilePicPath}}" alt="profile picture">
    {{/if}}
    <h3>{{username}}</h3>
    <a class="github-link"href="{{githubLink}}"><img src="/images/github2.png" alt="github logo"></a>
    <h3>Games:</h3>

        <div class="games-container">
            {{#each games}}
            <div class="game-card">
            <a href="/games/{{this.id}}">
            <img src="{{this.posterUrl}}" alt="">
            </a>
            <h4>{{this.name}}</h4>
            </div>
            {{/each}}
        </div>
    

    {{/with}}

    {{#if sameUserCheck}}
    <div class="profile-controls">
        <a class="button" href="/auth/edit/{{loggedInUser.id}}">Edit profile</a>
        <a class="button" href="/auth/logout">Log Out!</a>
    </div>
    {{/if}}
</div>
