<h1>Dashboard</h1>

<div class="profile-holder">
    {{#with loggedInUser}}
    <img class="profile-pic"src="{{profilePicPath}}" alt="profile picture">
    <h3>{{username}}</h3>
    <a class="github-link"href="{{githubLink}}"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="github logo"></a>
    <h3>Games:</h3>
        {{#each games}}
        <div class="game-card">
        <img src="{{this.posterUrl}}" alt="">
        <a href="/games/{{this.id}}">
        <h3>{{this.name}}</h3>
        </a>
        </div>
        {{/each}}
    

    {{/with}}

    {{#if sameUserCheck}}
    <div class="profile-controls">
        <a href="/auth/edit/{{loggedInUser.id}}">Edit your profile</a>
        <a href="/auth/logout">Log Out!</a>
    </div>
    {{/if}}
</div>
