{{!-- GAME DETAILS --}}
{{#with gameDetail}}
<h1>{{name}}</h1>
<img src="{{posterUrl}}" alt="Image of {{name}}">
<p>Game developed by - {{name}}</p>
<p>Description: {{description}}</p>
{{/with}}
{{#if sameUserCheck}}
<a href="/games/{{gameDetail._id}}/edit">Edit the Game</a>
{{/if}}
{{#with gameDetail}}
<form action="/games/{{_id}}" method="POST">
    <label for="review">Give a review 😎 </label>
    <input type="text" name="review" id="review">
<div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
        <button type="submit">Submit</button>
</div>
  </form> 
{{/with}}
{{!-- FIVE REVIEWS --}}
{{#each fiveReviews}}
<div>
    <p>{{this.user.username}}:</p>
<br>
{{this.text}}
</div>
{{/each}}

{{!-- BUTTON FOR ALL REVIEWS --}}
{{#with gameDetail}}
<div>
    <form action="/games/{{_id}}/reviews" method="get">
        {{!-- <label for="reviewsList">Read more Reviews ⭐️</label> --}}
        <button type="submit">Read more Reviews ⭐️</button>
    </form>
</div>
{{/with}}